.create-post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.create-post {
  width: 450px;
  min-height: 200px;
  background-color: var(--post-background);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  margin: 0 15px;
  margin-bottom: 20px;
}

.show-img {
  height: 180px;
  width: 100%;
  position: relative;
}

.show-img > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.show-img > .remove-img {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: var(--text-secondary);
  border-radius: 50%;
  padding: 2px 3px;
  cursor: pointer;
}

.remove-img > .close {
  position: relative;
  top: 2px;
}

.add-img {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
}

.add-img > input {
  position: absolute;
  right: 5px;
  opacity: 0;
  z-index: var(--z-index-3);
  cursor: pointer;
}

.add-img > .add-btn {
  display: flex;
  justify-content: center;
}

.add-img > .add-btn > span {
  position: relative;
  bottom: 2px;
  left: 5px;
}

.create-post > textarea {
  height: 150px;
  width: 90%;
  background-color: var(--post-background);
  margin: 20px 0;
  border: none;
  outline: none;
  resize: none;
}

.create-post-btn {
  width: 40%;
  background-color: var(--post-background);
  border: 1px solid black;
  padding: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .create-post-card {
    width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .create-post-card {
    width: 100%;
  }

  .create-post {
    width: 90%;
  }
}
